@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/2ca724e4e1a9f8e2ed8bb752920a8be4.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/00e56b884f6187001db248b275d34500.ttf') format('truetype');
}
